$chunk:      16px;
$dark-blue:  #00476E;
$blue:       #006AA4;
$light-blue: #009BEE;
$cool-blue:  #04639D;

$header-blue: #05629B;

$baseline:   16px;

$desktop:    1025px;

$left-pad:   2.5em;

$sidebar-width: 160px;
