// Hide default title.
body.node-type-materia .section > .title {
  display: none; }

.materia-header .left {
  float: left; }
.materia-header .left h1 {
  font-size: 27px;
  font-weight: 500;
  color: $blue; }
.materia-header .left .field-name-field-codigo {
  margin-top: -.5em;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #707070; }
.materia-header .field-name-field-plan {
  float: right; }
.materia-header .field-name-field-plan img {
  display: none; }
.materia-header .field-name-field-plan a {
  @include button-pill (#009AEE); }

.field .field-label {
  color: $blue;
}

.field-group {
  @include clearfix ();
  margin-top: 2em;
}

.field-group .field-name-field-docentes {
  float: left;
}
.field-group .field-name-field-docentes .node-docente h2 a {
  color: $blue;
}
.field-group .field-name-field-docentes .node-docente .content {
  display: inline-block;
}
.field-group .field-name-field-docentes img {
  border-radius: 50%;
}

.field-group .field-name-field-docentes > .field-label {
  font-weight: bold;
  color: $blue; }
.field-group .field-name-field-docentes > .field-items {
  @include clearfix (); }
.field-group .field-name-field-docentes > .field-items > .field-item {
  float: left;
  margin-right: 1.5em;
  text-align: center; }

.field-group .field-name-field-horario {
  float: right;
  margin: 10px 0; // Needed for the box-shadow
  border-left: 1px solid white;
  padding: 1.5rem;
  border: 1px solid white;
  color: white;
  background: $light-blue;
  box-shadow: 0px 7px 10px -5px #CFCFCF, 0px -7px 10px -5px #CFCFCF;
}
.field-group .field-name-field-horario a,
.field-group .field-name-field-horario .field-label {
  color: white;
}
.field-group .field-name-field-horario .field-label {
  font-size: 16px;
  font-weight: 500;
}
.field-group .field-name-field-horario .field-items ul {
  border-left: 1px solid white;
  padding-left: .5rem;
  list-style: none;
}

.field-name-field-lista,
.field-name-field-descripcion,
.field-name-field-anio,
.field-name-field-cuatrim {
  margin-bottom: 1em; }

.field-name-field-imagen-materia img {
  width: 100%; }
