.view-materias .view-grouping {
  text-align: center; }
.view-materias .view-grouping-header {
  @extend %small-header;
  color: $dark-blue; }
.view-materias .view-grouping-content tbody,
.view-materias .view-grouping-content tr {
  border: 0; }
.view-materias .view-grouping-content td {
  padding-top: .5em;
  padding-bottom: .5em;
  @include on-hover-light-up (); }
.view-materias .view-grouping-content table tr {
  background: $dark-blue; }
.view-materias .view-grouping-content table caption {
  @extend %small-header;
  font-size: 13px;
  color: $dark-blue; }
.view-materias .view-grouping-content table a {
  display: block;
  color: white; }

.view-materias .view-grouping {
  @include clearfix(); }
.view-materias .views-table {
  float: left;
  width: 50%; }
.view-materias .view-grouping-header {
  margin-top: 1em; }
