#block-views-slide-block {
  position: relative;
  @include clearfix ();
}

#block-views-slide-block
.views-slideshow-controls-top {
  width: 34%;
  height: calc(100% - 8px);
  position: absolute;
  right: 0;
  background: #EEE;
}

#block-views-slide-block
.views-slideshow-controls-top
#widget_pager_top_slide-block {
  height: calc(100% - 32px);
}

#widget_pager_top_slide-block
.views-slideshow-pager-field-item {
  height: 33.33333333%;
  box-sizing: border-box;
  padding: 16px 32px;
  border-bottom: 1px solid rgba(154,154,154,.5);
}
#widget_pager_top_slide-block
.views-slideshow-pager-field-item.active {
  background: rgba(211,211,211,.5);
}

#widget_pager_top_slide-block
.views-slideshow-pager-field-item
.views-content-body a:first-child {
  font-size: 16px;
  font-weight: 500;
  color: $blue;
  overflow: hidden;
  height: 20px;
  display: inline-block;
  @extend %ellipsis;
}
#widget_pager_top_slide-block
.views-slideshow-pager-field-item
.views-content-body a:last-child {
  @include button-pill ($blue);
  line-height: 1.2;
  font-size: 9.5px;
}
#widget_pager_top_slide-block
.views-slideshow-pager-field-item
.views-content-body div a {
}
#widget_pager_top_slide-block
.views-slideshow-pager-field-item
.views-content-body > div {
  overflow: hidden;
  height: 42px;
}

#block-views-slide-block
#views_slideshow_cycle_main_slide-block {
  width: 66%;
  float: left;
}

.views-slideshow-controls-bottom {
  position: absolute;
  bottom: 48px;
  right: 35%;
  z-index: 10;
}
.views-slideshow-controls-bottom
.views-slideshow-pager-field-item {
  width: 8px;
  height: 8px;
  margin-right: 20px;
  float: left;
  border: 2px solid $light-blue;
  border-radius: 50%;
  text-align: center;
  line-height: 8px;
  background: $light-blue;
  text-indent: -9999px;
  cursor: pointer;
}
.views-slideshow-controls-bottom
.views-slideshow-pager-field-item.active {
  border: 2px solid $light-blue;
  background: white;
}

#views_slideshow_cycle_div_slide-block_0,
#views_slideshow_cycle_div_slide-block_1,
#views_slideshow_cycle_div_slide-block_2 {
  width: 100% !important;
}

#block-views-slide-block img {
  width: 100%;
  height: initial;
}

#block-views-slide-block .more-link {
  display: block;
  text-align: right;
  height: 32px;
  line-height: 32px;
  font-size: 9.5px;
  font-weight: bold;
  background: $blue;
  color: white;
  padding-right: 1em;
  text-decoration: underline;
}

#block-views-slide-block .field-imagen {
  position: relative; }
#block-views-slide-block .field-imagen .blue-title a {
  position: absolute;
  bottom: 30px;
  left: 0;
  display: inline-block;
  padding: 10px 28px;
  max-width: 70%;
  font-size: 21px;
  font-weight: 500;
  color: white;
  background: #009AEE; }
