@mixin button-pill ($color) {
  display: inline-block;
  padding-top: 3px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 8px;
  border: 2px solid $color;
  color: white;
  background-color: $color;
  border-radius: 2em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  
  &:hover {
    @include transition (background-color 1s);
    background-color: transparent;
    color: $color; }
  &:after {
    content: ' »'; }
}
