ul.field-collection-view-links {
  @include clearfix (); }
ul.field-collection-view-links li {
  float: right;
  margin-left: .25em;
  font-weight: 500; }
ul.field-collection-view-links li:hover {
  text-decoration: underline; }

ul.action-links {
  @include clearfix (); }
ul.action-links li {
  float: right;
  font-weight: 500; }
ul.action-links li:hover {
  text-decoration: underline; }
