form label {
  font-weight: 500;
  color: $blue; }

input[type=password],
input[type=text] {
  color: #444;
  padding: .4em;
  border: 1px solid $blue; }
input[type=password].error,
input[type=text].error {
  border: 1px solid red; }
