body {
  margin: 0;
  background-color: #D4D4D4;
  background-image: url("images/fondo.png");
  font: 13px Hind, sans-serif;
  color: #636363; }

/* CKEditor */
body.cke_editable {
  background-color: white;
  background-image: none;
  padding: 16px; }

a, a:visited, li a.active {
  color: $light-blue; }
img {
  max-width: 100%;
}
p {
  margin: 0; }

// Fix drupal's clearfix.
.clearfix:after {
  content: ' '; }

// Buttons.
.button {
  @include button-pill ($dark-blue); }
.button-dark-blue {
  @include button-pill ($dark-blue); }

#breadcrumb {
  display: none; }

#page {
  width: 1150px;
  margin: 0 auto;
  background-color: white;
}

.content-container.sidebar-first-on {
  margin-left: $sidebar-width; }
.content-container.sidebar-first-on > #content {
  float: left;
  box-shadow: -1em -1em 2.5em -.25em #BEBEBE; }

#content {
  @include clearfix ();
  min-height: 500px;
  width: 100%;
}
#content .section {
  margin: 1em;
}

h1, h2 {
  @extend %small-header;
  margin: 0;
  color: $header-blue; }

#content strong {
  font-weight: bold; }

.sidebar-second-on .section-wrapper {
  float: left;
  width: 70%; }
.sidebar-second-on #sidebar-second {
  float: left;
  width: 30%; }

ul li.statistics_counter {
  display: none; }

div.messages {
  margin: 1em; }
