// Hide irrelevant stuff
#user-login .form-required,
#user-login form h2,
#user-pass .form-required {
  display: none; }
#user-login .item-list li {
  margin: 0; }

#user-login input[type=submit],
#user-pass input[type=submit] {
  @include button-pill ($blue); }
