.region-header-bottom-right {
  position: absolute;
  bottom: .125em;
  right: .5em;
  text-align: right; }

.region-header-bottom-right input[type=text] {
  @extend %input-text;
  width: 325px; }
.region-header-bottom-right input[type=submit] {
  @extend %submit-search; }
